@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root {
    --primary-color: #e9afa3;
    --overlay-color: #e6dcd3;
    --black-color: #141414;
    --front-color: #f1ddcf;
    --menu-speed: 1.5s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: auto;
    font-family: "Noto Serif Bengali", serif;
    font-family: "Mooli", sans-serif;
    overflow-x: hidden;
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

.main {
    width: 100%;
    height: 100vh;
}
/* ANIMATIONS-------------------------------------------------------------------------------- */

/* Opening Overlay Animations--------------------------------------------------------------- */
.open .layer:nth-child(2) {
    background: var(--black-color);
    z-index: 1;
    animation-delay: 1s; 
}
   
@keyframes open {
    0% {
    transform: scaleY(1)
    }
   
    100% {
    transform: scaleY(0);
    }
}
/* Navbar------------------------------------------------------------------------------------- */
.navbar {
    width: 100%;
    height: 5em;
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* Navbar Right Side Logo------------------------------------------------------------------- */
.logo img {
    position: absolute;
    cursor: pointer;
    top: 0.5em;
    right: 2em;
    width: 8em;
    height: 4em;
    transition: all 0.4s ease-in-out;
}
.logo img:hover {
    scale: 1.2;
}
/* MENU STYLES----------------------------------------------------------------------------- */
.menu-wrap {
    position: fixed;
    z-index: 1;
}
.menu-wrap .toggler {
    position: absolute;
    top: -3.5em;
    left: 0;
    z-index: 999999;
    cursor: pointer;
    width: 4.5em;
    height: 4.5em;
    opacity: 0;
}
.menu-wrap .hamburger {
    position: absolute;
    top: -2.3em;
    left: -0.4em;
    z-index: 9999;
    width: 4.5em;
    height: 4.5em;
    padding: 1em;
    background: transparent;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
/* Hamburger Line------------------------------------------------------------------------------ */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* Hamburger Lines - Top & Bottom----------------------------------------------------------- */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 999;
    top: -10px;
    width: 150%;
    height: 2px;
    background: inherit;
}
/* Moves Line Down---------------------------------------------------------------------------- */
.menu-wrap .hamburger > div::after {
    top: 10px;
}
/* Toggler Animation--------------------------------------------------------------------------- */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
/* Turns Lines Into X----------------------------------------------------------------------------- */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
/* Rotate On Hover When Checked------------------------------------------------------------- */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
/* Show Menu----------------------------------------------------------------------------------- */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div {
    position: fixed;
    z-index: 9999999;
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: var(--black-color);
    font-weight: 700;
    font-size: 2em;
    padding: 0.5em;
}
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    letter-spacing: 7px;
    transition: 0.4s ease-in-out;
}
.menu-wrap .menu > div > div > ul > li > a:hover {
    letter-spacing: 0;
    text-shadow: 0.5px 0.5px 1px var(--black-color);
}
/* Menu Part End-------------------------------------------------------------------------------- */




/* Cinematic Layer Up--------------------------------------------------------------------------- */
.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
}
.open .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: open 1s ease-in-out forwards;
}
.open .layer:nth-child(1) {
    background: var(--front-color);
    z-index: 2;
}
/* Landing Page Content------------------------------------------------------------------------- */
.hero {
    position: absolute;
    width: 100%;
    height: calc(100vh - 6em);
    background: var(--primary-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
/* Left Side Contents---------------------------------------------------------------------------- */
.banner-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    max-width: 48em;
}
/* Heading Content------------------------------------------------------------------------------ */
.banner-text h2 {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    transform-origin: left;
    color: var(--black-color);
    transform: scaleX(0);
    animation: revealTextReverse 1s ease-in-out forwards;
}
.banner-text h2 {
    font-size: 3em;
    animation-delay: 2s;
}
.banner-text h2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black-color);
    width: 100%;
    height: 100%;
    transform-origin: right;
    animation: revealText 1s ease-in-out forwards;
    animation-delay: 3s;
}
/* Paragraph Content--------------------------------------------------------------------------- */
.banner-text p {
    color: var(--black-color);
    opacity: 0;
    margin-top: 0.5em;
    font-weight: 500;
    text-align: justify;
    font-size: 1.2em;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;
}
/* Button Part------------------------------------------------------------------------------------ */
#container {
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.button {
    display: inline-flex;
    height: 2.5em;
    width: 10em;
    border: 2px solid var(--black-color);
    margin-left: -38em;
    opacity: 0;
    background-color: var(--black-color);
    color: var(--front-color);
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: fadeInBottom .45s linear forwards;
    animation-delay: 5.5s;
}
.button a {
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
}
#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#button-5 a {
    position: relative;
    font-weight: 600;
    transition: all .45s ease-Out;
}
#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: var(--primary-color);
    position: absolute;
    transition: all .3s ease-Out;
}
#button-5:hover #translate {
    left: 0;
}
#button-5:hover a {
    color: var(--black-color);
}
/* Landing Page Right Side Image-------------------------------------------------------------   */
.images {
    margin-left: 22em;
    margin-top: -21em;
	list-style: none;
	position: relative;
    transition: all 0.4s ease-in-out;
}
.images:hover {
    transform: translateY(-1em);
}
.list {
    list-style: none;
	position: absolute;
}
.bulb {
    opacity: 0;
    position: absolute;
    width: 28em;
    height: 20em;
    box-shadow: 1px 1px 5px 2px var(--black-color);
    border-radius: 0.5em;
    transition: all 0.4s ease-in-out;
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
}
.bulb:hover {
    transform: translateY(-5%);
}
.list:nth-child(4) {
	animation: xfade 16s 0s infinite;
}
.list:nth-child(3) {
	animation: xfade 16s 4s infinite;
}
.list:nth-child(2) {
	animation: xfade 16s 8s infinite;
}
.list:nth-child(1) {
	animation: xfade 16s 12s infinite;
}
@keyframes xfade{
	17% {
	  opacity:1;
	}
	25% {
	  opacity:0;
	}
	92% {
	  opacity:0;
	}
  }

/* Text Reveal Animations----------------------------------------------------------------------- */
@keyframes revealText {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0)
    }
}
@keyframes revealTextReverse {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1)
    }
}
/* Fade In Animation---------------------------------------------------------------------------- */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInBottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Fade In Animation End-----------------------------------------------------------------------*/

/* Part After Landing Page--------------------------------------------------------------------- */
.sec-01,
.sec-02 {
    margin: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 4em;
    color: var(--black-color);
}
.mid-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-title {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.main-title span {
    font-size: 1.5em;
    animation: Color 2s linear infinite;
  -webkit-animation: Color 2s ease-in-out infinite;
  text-shadow: 10px 10px var(--primary-color);
}

@keyframes Color{
    0% {
        color: #935727;
    }
    25% {
        color: #cfc4b1;
    }
    50% {
        color: #141414;
    }
    75% {
        color: #676127;
    }
    100% {
        color: #803407;
    }
}

@-webkit-keyframes Color{
    0% {
        color: #935727;
    }
    25% {
        color: #cfc4b1;
    }
    50% {
        color: #141414;
    }
    75% {
        color: #676127;
    }
    100% {
        color: #803407;
    }
}

.mid-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-content .mid-images {
    position: relative;
    width: 45em;
    height: 25em;
    z-index: -999;
    overflow: hidden;
}
.mid-content .mid-images img {
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}
.mid-content .text-box {
    text-align: center;
    z-index: -1;
    background: rgba(0, 0, 0, 0.1);
    color: var(--overlay-color);
    backdrop-filter: blur(20px);
    padding: 0.5em;
    max-width: 35em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    transform: translate(-3em, 2em);
}
.mid-content .text-box h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.media-icons {
    margin-top: 2em;
}
.media-icons a {
    color: var(--black-color);
    font-size: 1.5em;
    margin: 0.5em;
}
.section-title {
    font-size: 3em;
    margin: 0.5em;
}
.info {
    text-align: center;
    z-index: -1;
    background: rgba(0, 0, 0, 0.1);
    color: var(--overlay-color);
    backdrop-filter: blur(20px);
    padding: 0.5em;
    max-width: 35em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    transform: translate(-3em, 2em);
}
.info .info-title {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.media-info {
    width: 25em;
    margin-left: 2em;
}
.media-info li {
    list-style: none;
    font-size: 1.3em;
}
.media-info li a {
    text-decoration: none;
    color: var(--black-color);
}
.media-info li a i {
    margin-right: 0.5em;
}
.media-info li:not(:last-child) {
    margin-bottom: 2em;
}
.media-info li:nth-child(1), .media-info li:nth-child(5) {
    padding-left: 4em;
}
.media-info li:nth-child(2), .media-info li:nth-child(4) {
    padding-left: 2em;
}
.sec-03 {
    margin-bottom: 2em;
}


.footer {
    width: 100%;
    background-color: var(--black-color);
    color: var(--primary-color);
    padding: 2em 4em;
}
.footer-logo img {
    cursor: pointer;
    width: 7em;
    transition: all 0.4s ease-in-out;
}
.footer-logo img:hover {
    scale: 1.2;
}
.footer-container {
    width: 100%;
    margin: 0;
    padding: 0;
}
.footer-content {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
}
.footer-menu {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.footer-menu li {
    align-items: center;
    display: inline-block;
    margin-top: 1em;
    margin-right: 3em;
    color: var(--primary-color);
}
.footer-menu li:last-child {
    margin-right: 0;
}
.footer-menu a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.4s ease-in-out;
}
.footer-menu a:hover {
    color: var(--overlay-color);
    text-shadow: 0px 0px 10px var(--overlay-color);
}
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-icons li {
    margin-top: 1em;
    display: inline-block;
    margin-right: 2em;
}
.social-icons li:last-child {
    margin-right: 0;
}
.social-icons a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5em;
    transition: all 0.4s ease-in-out;
}
.social-icons a:hover {
    color: var(--overlay-color);
    text-shadow: 0px 0px 8px var(--overlay-color);
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom p {
    color: var(--front-color);
    font-size: 0.8em;
}
.footer-bottom p a {
    text-decoration: none;
    color: var(--front-color);
}
.footer-bottom p a:hover {
    color: var(--primary-color);
}










